<<<<<<< HEAD
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-900.eot');
    src: url('../fonts/museo/MuseoSansCyrl-900.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-900.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-900.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-900.svg#webfont') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-300.eot');
    src: url('../fonts/museo/MuseoSansCyrl-300.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-300.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-300.svg#webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-500.eot');
    src: url('../fonts/museo/MuseoSansCyrl-500.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-500.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-500.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-500.svg#webfont') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-700.eot');
    src: url('../fonts/museo/MuseoSansCyrl-700.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-700.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-700.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-700.svg#webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-100.eot');
    src: url('../fonts/museo/MuseoSansCyrl-100.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-100.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-100.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-100.svg#webfont') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/museo/ProximaNova-Regular.eot');
    src: url('../fonts/museo/ProximaNova-Regular.eot?iefix') format('eot'),
        url('../fonts/museo/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/museo/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/museo/ProximaNova-Regular.svg#webfont') format('svg');
    font-weight: 400;
    font-style: normal;
=======
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-900.eot');
    src: url('../fonts/museo/MuseoSansCyrl-900.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-900.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-900.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-900.svg#webfont') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-300.eot');
    src: url('../fonts/museo/MuseoSansCyrl-300.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-300.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-300.svg#webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-500.eot');
    src: url('../fonts/museo/MuseoSansCyrl-500.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-500.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-500.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-500.svg#webfont') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-700.eot');
    src: url('../fonts/museo/MuseoSansCyrl-700.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-700.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-700.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-700.svg#webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo/MuseoSansCyrl-100.eot');
    src: url('../fonts/museo/MuseoSansCyrl-100.eot?iefix') format('eot'),
        url('../fonts/museo/MuseoSansCyrl-100.woff') format('woff'),
        url('../fonts/museo/MuseoSansCyrl-100.ttf') format('truetype'),
        url('../fonts/museo/MuseoSansCyrl-100.svg#webfont') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/museo/ProximaNova-Regular.eot');
    src: url('../fonts/museo/ProximaNova-Regular.eot?iefix') format('eot'),
        url('../fonts/museo/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/museo/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/museo/ProximaNova-Regular.svg#webfont') format('svg');
    font-weight: 400;
    font-style: normal;
>>>>>>> 7cc55b8... pochti full
}